* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 74%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header Section Style */

/* Navbar Styles */
.backgound-color {
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
}

.nav-links li,
a {
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
  color: rgba(66, 66, 66, 1);
  font-size: 18px;
  font-weight: 500;
}

.brand-name {
  color: rgba(19, 19, 19, 1);
  font-size: 45px;
  font-weight: 700;
}

/* Banner Styles */
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}

.banner-content .banner-title {
  font-size: 64px;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
  margin-bottom: 20px;
  margin-top: 116px;
}

.description {
  color: rgba(114, 114, 114, 1);
  font-size: 16px;
  margin-bottom: 32px;
}

.btn-primary {
  padding: 21px 24px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 70px;
}

.banner-img {
  width: 100%;
}

/* Main Section Styles */

/* Features Section Styles */
.features {
  margin-top: 85px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.features-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.features-title {
  font-size: 45px;
  color: rgba(114, 114, 114, 1);
  font-weight: 500;
  margin-bottom: 24px;
}

.features-title #title-1 {
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
}

.features-title #title-2 {
  font-weight: 700;
  color: rgba(255, 144, 14, 1);
}

/* Facts Section Styles */
.facts {
  margin-top: 90px;
}

.facts-container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.facts-content h3 {
  font-size: 45px;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
  margin-bottom: 24px;
}

.facts-container .box {
  padding: 35px 50px;
  border: 2px solid #ff900e;
  border-radius: 8px;
  text-align: center;
}

.facts-container .box h3 {
  font-size: 45px;
  font-weight: 600;
  color: #727272;
}

.facts-container .box p {
  font-size: 18px;
  font-weight: 600;
  color: #727272;
}

/* Sponsor Styles */
.sponsor {
  margin-top: 100px;
  margin-bottom: 100px;
}

.sponsor-content {
  text-align: center;
}

.sponsor-content h3 {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 24px;
}

.sponsor-img {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}

/* Footer Styles */
.footer-container {
  background-color: #fff4e7;
  padding: 30px;
  text-align: center;
  margin: 0 200px 200px;
}

/* Responsive Media Query Style */
@media screen and (max-width: 576px) {
  /* Navbar and Banner Styles */
  .navbar,
  .nav-links {
    flex-direction: column;
    margin: 0 auto;
  }

  .nav-links {
    flex-direction: row;
    margin-top: 20px;
  }

  .nav-links li,
  a {
    font-size: 16px;
    margin-right: 12px;
  }

  .brand-name {
    font-size: 26px;
  }

  .banner-content .banner-title {
    margin-top: 50px;
    font-size: 45px;
  }

  .banner-content .btn-primary {
    padding: 16px 16px;
    font-size: 15px;
  }

  /* Features Styles */
  .features {
    flex-direction: column;
  }

  .features-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .features-content {
    text-align: center;
  }

  /* Facts Section Styles */
  .facts-container {
    flex-direction: column;
  }

  .facts-content {
    text-align: center;
  }

  /* Sponsor Styles */
  .sponsor-img {
    flex-direction: column;
  }

  /* Footer Styles */
  .footer-container {
    background-color: #fff4e7;
    padding: 20px 10px 3px;
    text-align: center;
    margin: 0 30px 50px;
  }
}
